<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="dc3aa76d-400e-4b06-b96d-036c41b2c758" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://dummy.restapiexample.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="dc3aa76d-400e-4b06-b96d-036c41b2c758fileName">http%3A%2F%2Fdummy.restapiexample.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://dummy.restapiexample.com</con:endpoint></con:endpoints></con:interface>